---
on: [push, pull_request]
name: default

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: [0.10.4, 0.11.0]
    steps:
      - uses: actions/checkout@v3

      - name: Install Neovim ${{ matrix.neovim_version }}
        run: |
          curl -LO https://github.com/neovim/neovim/releases/download/v${{ matrix.neovim_version }}/nvim-linux-x86_64.appimage
          chmod u+x nvim-linux-x86_64.appimage
          ./nvim-linux-x86_64.appimage --appimage-extract
          sudo mv squashfs-root / && sudo ln -s /squashfs-root/AppRun /usr/bin/nvim
          nvim --version 

      - name: Check out required packages
        run: |
          mkdir packages
          git clone https://github.com/nvim-lua/plenary.nvim.git packages/plenary.nvim
          git clone https://github.com/nvim-tree/nvim-web-devicons.git packages/nvim-web-devicons

      - name: Run test
        run: make

  lint:
      name: lint
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: Install dependencies
          run: |
              sudo apt-get update
              sudo apt-get install luarocks
              sudo luarocks install luacheck

        - name: Run lint
          run: make lint
